/* font-family: 'Lobster', cursive;
font-family: 'Manrope', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Yeseva One', cursive; */
body{
    margin: 0 auto;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.banner{

    display: flex;
    justify-content: center;
    align-items: center;
}

.half-width{
    width:45%;
    margin-left: 5%;

}
.link-button{
    padding: 10px 40px;
    border-radius: 5px;
    text-decoration: none;
    background-color: #FF5959;
    color: whitesmoke;
}
.half-width img{
    width: 75%;
}
.stay-focus{
    font-size: 60px;
    font-weight: 400;
    font-family: 'Yeseva One', cursive;
    border-left: 3px solid #FF5959;
    padding-left: 2%;
}
.orange{
    color: #FFAD5A;
}
.mission{
    width: 1240px;
    height: 500px;
    margin: 0 auto;
}
.mission h2{
    font-size: 45px;
    text-align: center;
}
.mission-list{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
.mission-content{
    width: 30%;
    height: 330px;
    margin: 0px 10px;
}
.my-mission{
    background: #4f9da63b;
    border-radius: 10px;
    padding: 25px 15px;

}
.mission-content img{
width: 126px;
height: 126px;
}
.mission-content h4{
    font-size: 20px;
    line-height: 0px;
}
.mission-content p{
    color: #424242;
    font-size: 15px;

}
.vission{
    background-color: #FF59593b;
}
.goal{
    background-color: #FFF4D6;
}
.dev-area{
    background-image: url(images/shape-1.png);
    background-repeat: no-repeat;
    background-position: left;
}
.development{
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.dev-image {
    width: 400px;
}
.dev-image img{
    width: 100%;
}
.devlop-content{
    width: 700px;
}
.devlop-content h2{
    font-size: 36px;
    font-weight: 700;
    color: #333333;
    margin-bottom: 10px;
}

.develop p{
    font-size: 18px;
    font-weight: 400;
    color: #3E3E3E;
    padding-right: 5%;
    margin-bottom: 25px;
}
.community{
        background-image: url(images/shape-1.png);
    background-repeat: no-repeat;
    background-position: right;
    padding-bottom: 250px;
}

.application h2{
    font-size: 45px;
    font-weight: 700;
    text-align: center;
    margin: 100px 0;
}

.go-corona{
    height: 700px;
}
footer{
    text-align: center;
    background: #0B0D17;
    padding: 50px 0px;
}
footer div h3{
    font-size: 28px;
    font-family: 'Lobster', cursive;
    color: whitesmoke;
    letter-spacing: 3px;
}
footer div h3 span{
    color: #FF5959;
}
footer div p{
    font-size: 14px;
    color: whitesmoke;
    font-family: 'Manrope', sans-serif;
}